[submodule "vim-gitgutter"]
	path = bundles/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundles/vim-racket"]
	path = bundles/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundles/rainbow_parentheses.vim"]
	path = bundles/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundles/rust.vim"]
	path = bundles/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundles/auto-pairs"]
	path = bundles/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundles/tender.vim"]
	path = bundles/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "bundles/typescript-vim"]
	path = bundles/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
